doctype html
head
  meta(charset='UTF-8')
  meta(name='description' content='Karen Lally Real Estate About Page, provided to you by Karen Lally Real Estate.')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags
  link(rel='canonical' href='http://lallyrealtor.com/about.html')
  meta(property='og:title' content='Karen Lally Real Esate | About')
  meta(property='”og:url”' content='”http://lallyrealtor.com/about”')
  meta(property='og:site_name' content='Karen Lally Real Esate')
  meta(property='og:type' content='website')
  meta(property='og:image' content='url(img/bg-img/about-bg.jpeg)')
  // Title
  title Karen Lally Real Estate | About
  // Favicon
  link(rel='icon' href='img/core-img/favicon.ico')
  // Style CSS
  link(rel='stylesheet' href='css/style.css')
// Preloader
#preloader
  .south-load
// ##### Header Area Start #####
header.header-area
  // Top Header Area
  .top-header-area
    .h-100.d-md-flex.justify-content-between.align-items-center
      .email-address
        a(href='mailto:karenlally@remax.com') karenlally@remax.com
      .phone-number.d-flex
        .icon
          img(src='img/icons/phone-call.png' alt='phone number')
        .number
          a(href='tel:778-321-4750') 778-321-4750
  // Main Header Area
  #stickyHeader.main-header-area
    .classy-nav-container.breakpoint-off
      // Classy Menu
      nav#southNav.classy-navbar.justify-content-between
        // Logo
        a.nav-brand(href='/')
          img(src='img/core-img/logo1.png' alt='logo')
        // Navbar Toggler
        .classy-navbar-toggler
          span.navbarToggler
            span
            span
            span
        // Menu
        .classy-menu
          // close btn
          .classycloseIcon
            .cross-wrap
              span.top
              span.bottom
          // Nav Start
          .classynav
            ul
              li
                a(href='/') Home
              li
                a(href='/about') About
              li
                a(href='/contact') Contact
          // Nav End
// ##### Header Area End #####
// ##### Breadcumb Area Start #####
section.breadcumb-area.bg-img(style='background-image: url(img/bg-img/about-bg.jpeg);')
  .container.h-100
    .row.h-100.align-items-center
      .col-12
        .breadcumb-content
          h3.breadcumb-title About
// ##### Breadcumb Area End #####
// ##### About Content Wrapper Start #####
section.about-content-wrapper.section-padding-100
  .container
    .row
      .col-12.col-lg-8
        .section-heading.text-left.wow.fadeInUp(data-wow-delay='250ms')
          h2 Your Neighbourhood Expert
        .about-content
          img.wow.fadeInUp(data-wow-delay='350ms' src='img/bg-img/about.jpg' alt='about')
          p.wow.fadeInUp(data-wow-delay='450ms')
            | REMAX is focused on providing you with the best
            | results and service in the industry. We listen carefully to understand your real estate
            | goals and work hard to create solutions that make sense for you. Whether you are new to the
            | market or an experienced investor, we have the expertise, proven track record, and resources
            | to help you achieve your real estate goals.
          p.wow.fadeInUp(data-wow-delay='450ms')
            | As is often said, real estate is about location,
            | location, location. We have extensive knowledge of the Vancouver, BC area and can help you
            | find the right home for you or the right buyer for your home.
      .col-12.col-lg-4
        .section-heading.text-left.wow.fadeInUp(data-wow-delay='250ms')
          h2 Featured Properties
        .featured-properties-slides.owl-carousel.wow.fadeInUp(data-wow-delay='350ms')
          // Single Slide
          .single-featured-property
            // Property Thumbnail
            .property-thumb
              img(src='img/bg-img/home4.jpeg' alt='Listing 1')
              .tag
                span For Sale
              .list-price
                p $1,788,800
            // Property Content
            .property-content
              h5 Home in Burnaby
              p.location
                img(src='img/icons/location.png' alt='location')
                | 5226 Pandora St.
                |                                     Burnaby,
                |                                     BC
                |                                     V5B 1L6
              p
                | Beautiful Spanish-style home with gorgeous
                | southerly views of Metrotown.
              .property-meta-data.d-flex.align-items-end.justify-content-between
                .garage
                  img(src='img/icons/garage.png' alt='beds')
                  span 5 bed
                .bathroom
                  img(src='img/icons/bathtub.png' alt='bathrooms')
                  span 4 bath
                .space
                  img(src='img/icons/space.png' alt='square footage')
                  span 3,105 sq ft
          // Single Slide
          .single-featured-property
            // Property Thumbnail
            .property-thumb
              img(src='img/bg-img/home2.png' alt='Listing 2')
              .tag
                span For Sale
              .list-price
                p $974,000
            // Property Content
            .property-content
              h5 Home in Surrey
              p.location
                img(src='img/icons/location.png' alt='location')
                | 8663 143 St.
                |                                     Surrey, BC
                |                                     V3W 0N7
              p Corner-lot renovated home in one of the most desirable neighbourhoods of Surrey.
              .property-meta-data.d-flex.align-items-end.justify-content-between
                .garage
                  img(src='img/icons/garage.png' alt='beds')
                  span 4 bed
                .bathroom
                  img(src='img/icons/bathtub.png' alt='baths')
                  span 3 bath
                .space
                  img(src='img/icons/space.png' alt='square footage')
                  span 2,218 sq ft
          // Single Slide
          .single-featured-property
            // Property Thumbnail
            .property-thumb
              img(src='img/bg-img/lot1.png' alt='Listing 3')
              .tag
                span For Sale
              .list-price
                p $864,900
            // Property Content
            .property-content
              h5 Lot in Surrey
              p.location
                img(src='img/icons/location.png' alt='location')
                | 12470 92 Ave.
                |                                     Surrey, BC
                |                                     V3V 1G5
              p Ready-to-build mega lot in the heart of Surrey. Build your dream home here!
              .property-meta-data.d-flex.align-items-end.justify-content-between
                .space
                  img(src='img/icons/space.png' alt='square footage')
                  span 54 ft x 145 ft (7,892 sq ft)
// ##### About Content Wrapper End #####
// ##### Footer Area Start #####
footer.footer-area.section-padding-100-0.bg-img.gradient-background-overlay
  // Main Footer Area
  .main-footer-area
    .container
      .row
        // Single Footer Widget
        .col-12.col-sm-6.col-xl-6
          .footer-widget-area.mb-100
            // Widget Title
            .widget-title
              h6 About
            .footer-logo.my-4
              img(src='img/core-img/logo1.png' alt='logo')
            p
              | Karen Lally is part of Vancouver&apos;s premier real estate team, REMAX City Realty, known for
              | outstanding agents and service.
        // Single Footer Widget
        .col-12.col-sm-6.col-xl-6
          .footer-widget-area.mb-100
            // Widget Title
            .widget-title
              h6 Contact
            // Address
            .address
              h6
                img(src='img/icons/phone-call.png' alt='phone number')
                |  778-321-4750
              h6
                img(src='img/icons/envelope.png' alt='email')
                |  karenlally@remax.com
              h6
                img(src='img/icons/location.png' alt='location')
                |  #102 2806 Kingsway, Vancouver, BC
                |                                     V5R 5T5
  // Copywrite Text
  .copywrite-text.d-flex.align-items-center.justify-content-center
    | Copyright &copy;
    script.
      document.write(new Date().getFullYear());
    |  Karen Lally
// ##### Footer Area End #####
// jQuery (Necessary for All JavaScript Plugins)
script(src='js/jquery/jquery-2.2.4.min.js')
// Popper js
script(src='js/popper.min.js')
// Bootstrap js
script(src='js/bootstrap.min.js')
// Plugins js
script(src='js/plugins.min.js')
script(src='js/classy-nav.min.js')
script(src='js/jquery-ui.min.js')
// Active js
script(src='js/active.min.js')
